/*BACKGROUND*/
#particles_download{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b1b28;
}
/*INTRO*/
.intro_download{
    padding-top: 10px;
}
.intro_title_download{
    color: #71718e;
    transition: .4s linear;
}
.intro_title_download:hover{
    color: #f9b384;
}
.intro_text_download{
    color: #71718e;
}