/*BACKGROUND*/
#particles_result{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #27323a;
}
/*INTRO*/
.intro_result{
    padding-top: 10px;/* Отступ сверху */
}
.intro_title_result{
    color: #29a19c;/* Цвет */
    transition: .4s linear;
}
.intro_title_result:hover{
    color: #a3f7bf;/* Цвет */
}