/*BACKGROUND*/
#particles_painting{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b262c;
}
/*INTRO*/
.intro_painting{
    padding-top: 10px;
}
.intro_title_painting{
    color: #3282b8;
    transition: .4s linear;
}
.intro_title_painting:hover{
    color: #7ccbff;
}
.intro_text_painting{
    color: #286792;
}
/*FEATURES*/
.features_painting{
    margin-top: 40px;
    margin-bottom: 0;
}