body, html{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{margin: 0;}
*,
*:before,
*:after {
    box-sizing: border-box;
}
#my-page{
    width: 100%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}
/*INTRO*/
.intro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    padding-top: 100px;
}
.intro_title{
    width: auto;
    font-family: 'Istok Web', sans-serif;
    font-size:65px;
    text-align: center;
    user-select: none;
}
.intro_text{
    width: 100%;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    user-select: none;
}